<html>
<title>Buil WEB STREAM AUDIO & VIDEO VỚI WEBRTC + NODEJS SOCKETIO </title>

<body>
    <h1>NghiaDepTrai</h1>
    <video id="localStream" width="300" controls></video>
    <br></br>
    <label>My connection signal</label>
    <br></br>
    <textarea rows="3" cols="100" id="textMySignal"></textarea>
    <br></br>
    <input type="text" placeholder="Entern Yourfriend's Signal" id="textFriendSignal">
    <br></br>
    <button id="buttonSignal">Connection</button>

    <script src="bundle.js"></script>

</body>

</html>